// Content list module

.content-list__items {
  display: flex;
  flex-wrap: wrap;
}

.content-list__item {
  padding: .6em;
}

.content-list__content {
  padding: .5em;
}

.content-list__title {
  color: $related-black;
  font-family: $font-family-proxima;
  font-size: rem(15);
  letter-spacing: .5rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.content-list__item {
  margin-bottom: 4rem;
}

.content-list__item__meta {
  font-size: rem(11);
  text-transform: uppercase;
}

.content-list__item__title {
  color: $related-midgrey;
  font-family: $font-family-playfair;
  font-size: rem(24);
  margin-bottom: 1rem;
}

.content-list__item__desc {
  font-size: rem(11);
}
