// Social share module

.module.social-share {
  width: 90%;

  .post-type-page & {
    width: 90%;
  }
}

.social-share__links {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    padding-right: 1rem;
  }
}

.social-share__link {
  &:hover,
  &:active {
    opacity: .75;
  }

  &.inactive {
    opacity: .25;
  }
}
