// Textarea module

.module.text-block {
  margin-top: 2rem;

  // RTE

  img {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    &.alignleft {
      margin-right: 1.5em;
      display: inline;
    }

    &.alignright {
      margin-left: 1.5em;
      display: inline;
    }

    &.aligncenter {
      margin-right: auto !important;
      margin-left: auto !important;
      display: block;
      clear: both;
    }
  }
}
