{% extends "global/base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <article class="post-type-{{page.post_type}}" id="post-{{page.ID}}">
      <section class="article-content">
        {% if is_front_page is defined and is_front_page is empty %}
        <h1>{{page.title}}</h1>
        {% endif %}

        <div class="article-body">
          {{page.post_content|shortcodes}}
        </div>
      </section>
    </article>
  </div><!-- /content-wrapper -->
{% endblock %}
