<section class="module social-share"
  data-name="social-share"
  data-type="social-share">

  <div class="columns is-paddingless">
    <div class="column {{ (post_type == 'post') ? 'is-8 is-offset-2' : 'is-10 is-offset-2' }}">

      <div class="social-share__links">
        <ul>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}" class="social-share__link" target="_blank">
              <i class="icon-font">facebook</i>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/home?status={{ current_url }}" class="social-share__link" target="_blank">
              <i class="icon-font">twitter</i>
            </a>
          </li>

          <li>
            <a href="mailto:?body={{ current_url }}" class="social-share__link">
              <i class="icon-font">email</i>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div><!-- /.columns -->

</section>
