<section class="module textarea"
  data-name="textarea"
  data-type="textarea">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div><!-- /.container -->

</section>
