<section class="module textarea"
  data-name="textarea"
  data-type="textarea">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        {{ content }}
      </div>
    </div>
  </div><!-- /.container -->

</section>
