<section class="module text-block"
  data-name="text-block"
  data-type="text-block">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        {{ content }}
      </div>
    </div>
  </div><!-- /.container -->

</section>
