<section class="module textarea">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        {{ content }}
      </div>
    </div>
  </div>

</section>
