// Base

@viewport {
  width: device-width;
}

::-webkit-scrollbar {
  display: none;
}

* {

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
