// Colors

// Descriptive colors
$white:                     #fff;
$black:                     #000;

// Client colors
$related-black:             #1c1a1a;
$related-midgrey:           #514c48;

// Main color palette
$color-primary:             $related-black;
$color-secondary:           $related-midgrey;

// Common colors
$color-background:          $white;
$color-text:                $related-black;
$color-text-strong:         $related-black;
$color-text-heading:        $related-black;
$color-text-invert:         $white;

// Links
$color-link:                $related-black;
$color-link-hover:          $color-link;
$color-link-visited:        $color-link;
