/**
* SVG Icon fonts - icomoon.io
* Use fonts/selection.json file to import set to make changes
*
*/
// sass-lint:disable force-pseudo-nesting class-name-format

@font-face {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iconfont/iconfont.ttf?ikjeal') format('truetype'), url('../fonts/iconfont/iconfont.woff?ikjeal') format('woff'), url('../fonts/iconfont/iconfont.svg?ikjeal#iconfont') format('svg');
}

%icon {
    // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important; // sass-lint:disable-line no-important
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* Enable Ligatures ================ */

    letter-spacing: 0;
    line-height: 1;

    text-transform: none;

    speak: none;

    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga';
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i,
.icon,
.icon-font {
    @extend %icon;
}

.icon-arrowleft::before {
    content: '\e000';
}

.icon-arrowright::before {
    content: '\e001';
}

.icon-close2::before {
    content: '\e002';
}

.icon-download::before {
    content: '\e003';
}

.icon-email2::before {
    content: '\e004';
}

.icon-environment::before {
    content: '\e005';
}

.icon-finance::before {
    content: '\e006';
}

.icon-playbutton::before {
    content: '\e009';
}

.icon-print::before {
    content: '\e00a';
}

.icon-search::before {
    content: '\e00b';
}

.icon-share::before {
    content: '\e00c';
}

.icon-social::before {
    content: '\e00d';
}

.icon-globe::before {
    content: '\e007';
}

.icon-account::before {
    content: '\e00e';
}

.icon-circle::before {
    content: '\e00f';
}

.icon-circle-outline::before {
    content: '\e010';
}

.icon-star::before {
    content: '\e011';
}

.icon-star-outline::before {
    content: '\e012';
}

.icon-check::before {
    content: '\e013';
}

.icon-check-outline::before {
    content: '\e014';
}

.icon-dropdown::before {
    content: '\e015';
}

.icon-zoom::before {
    content: '\e016';
}

.icon-maintain::before {
    content: '\e017';
}

.icon-chat2::before {
    content: '\e018';
}

.icon-impaired::before {
    content: '\e019';
}

.icon-menu::before {
    content: '\e008';
}

.icon-ic-checked-18::before,
.icon-checked::before {
    content: '\e90a';
}

.icon-close_bold::before {
    content: '\e909';
}

.icon-play::before {
    content: '\e912';
}

.icon-google-plus::before {
    content: '\ea8b';
}

.icon-twitter::before {
    content: '\ea96';
}

.icon-linkedin2::before {
    content: '\eaca';
}

.icon-facebook::before {
    content: '\ea90';
}

.icon-hamburger::before {
    content: '\e907';
}

.icon-close::before {
    content: '\e902';
}

.icon-chat::before {
    content: '\e901';
}

.icon-down-arrow::before {
    content: '\e903';
}

.icon-email::before {
    content: '\e904';
}

.icon-up-arrow::before {
    content: '\e905';
}

.icon-user::before {
    content: '\e906';
}

.icon-magnifier::before {
    content: '\e900';
}

.icon-arrow::before {
    content: '\e913';
}

.icon-lang::before {
    content: '\e908';
}
