// Typography

// $base-font-size
$base-font-size: 14;

// $base-line-height
$base-line-height: 1.5;

// Font Stacks

// $typefaces
//
// Configuration of webfonts imports.
//
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

//$typefaces: (
//  'FILENAME': (
//    family: 'fontname',
//    weight: 100,
//    style: normal,
//  ),
//);

// External fonts
$external-fonts: ();

// $font-custom
// $font-custom: '';

// $font-family-sans
$font-family-sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// $font-family-serif
$font-family-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

// $font-family-monospace
$font-family-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;

// $font-family-default
$font-family-default: $font-family-sans;

// Styles

html,
body {
  font-family: $font-family-default;
  font-size: rem(20, $base-font-size);
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-default;
  font-weight: normal;
}

h1 {
  font-size: rem(30);
}

a {
  background: transparent;
  color: $color-link;
  font-family: $font-family-default;
  text-decoration: none;
  transition: color .2s;

  &:visited {
    color: $color-link-hover;
  }

  @include hover {
    color: $color-link-hover;
  }
}

p,
li,
span {
  font-size: $base-font-size;
  line-height: $base-line-height;
}
