<div class="column is-6">
  <nav id="nav-footer" class="nav-footer" role="navigation">
    {% include "global/menu.twig" with {'menu': footer_menu.get_items} %}
  </nav><!-- #nav-footer -->
</div>

<div class="column is-6">
  {{ function('the_custom_logo') }}

  <p>&copy; {{ "now"|date('Y') }} Related Companies</p>
</div>
