// Footer

#footer {
  background-color: $related-midgrey;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  width: 100%;

  span,
  p {
    color: $white;
  }

  a {
    color: $white;

    &:visited {
      color: $white;
    }

    @include hover {
      color: $white;
    }
  }
}
