// Header

#header {
  background-color: $related-midgrey;
  position: relative;
  width: 100%;
  z-index: 1;

  .custom-logo {
    height: 80px;
    margin: 0.5rem 0;
    margin-right: 2rem;
    width: auto;
  }

  .navbar-end .navbar-item.tile {
    justify-content: center;
  }

  .newsletter-signup button {
    background-color: transparent;
    border: 0 none;
    color: $white;
    cursor: pointer;
    float: right;
    font-family: $font-family-default;
    font-size: rem(11);
    margin-bottom: .5rem;
    padding: 0;
    text-transform: uppercase;
  }
}
